.parent {
    display: grid;
    place-items: center;
}

body {
    background-color: powderblue;
}

h1 {
    color: blue;
}

p {
    color: red;
}

.word-box {
    color: white;
}

.word-text {
    color: white; /* change this to powderblue */
    font-size: 40px;
}

.correct-char {
    color: green;
}

.incorrect-char {
    color: red;
}

div {
    margin: 5px;
}

input {
    font-size: 40px;
    text-align: center;
}