.parent {
    display: grid;
    place-items: center;
}

body {
    background-color: darkgray;
}

h1 {
    color: blue;
}

h3 {
    font-size: 32px;
    text-align: center;
}

button.select {
    align-content: center;
    font-size: 20px;
    width: 300px;
}

p {
    color: red;
}

div#list-container>div.word-box {
    background-color: darkgrey;
    color: white;
    box-shadow: 0 0 0 0;
}

div#list-container>div.word-input {
    background-color: darkgrey;
    color: white;
    box-shadow: 0 0 0 0;
}

.word-text {
    color: darkgray; /* change this to powderblue */
    font-size: 150px;
    box-shadow: 0 0 0 0;
}

.correct-char {
    color: rgb(44, 165, 44);
}

.incorrect-char {
    color: red;
}

div {
    margin: 5px;
    display: grid;
    align-items: center;
}

div#list-container>div.word-text {
    background-color: darkgrey;
    box-shadow: 0 0 0 0;
    display: flex;
}

div#list-container>div {
    background-color: rgb(76, 74, 241);
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

input {
    font-size: 40px;
    text-align: center;
    
}

input.simple {
    font-size: 12px;
    text-align: left;
}