.parent {
    display: grid;
    place-items: center;
}

body {
    background-color: darkgray;
}

h1 {
    color: blue;
}

h3 {
    font-size: 32px;
    text-align: center;
}

button.select {
    align-content: center;
    font-size: 20px;
    width: 300px;
}

p {
    color: red;
}

.word-box {
    color: white;
}

.word-text {
    color: darkgray; /* change this to powderblue */
    font-size: 150px;
}

.correct-char {
    color: green;
}

.incorrect-char {
    color: red;
}

div {
    margin: 5px;
    display: grid;
    align-items: center;
}

div.word-text {
    display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

input {
    font-size: 40px;
    text-align: center;
}

input.simple {
    font-size: 12px;
    text-align: left;
}